body
{
    background: linear-gradient(110.6deg, rgb(184, 142, 252) 2.2%, rgb(104, 119, 244) 100.2%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:70vh;
    border:none ;

}

.head
{
    background: radial-gradient(circle at 30% 90%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);
    -webkit-background-clip: text;
    clip-path: text;
    color:transparent; 
    font-family: serif; 
    font-size: 70px;
    margin-bottom: 20px;  
}

#month
{
    cursor:pointer;
    min-width: 300px;
}

.btn
{
    margin-left:10px;
}

.inputs
{
    min-width: 440px;
    background-color: transparent;
    border:1px solid white;
    backdrop-filter: blur(10px);

}

.message,.year,.month,.day
{
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
}

.message,.year,.months,.day
{
    display: none;
}